# We have two registries we could use:
# Internal (private)
registry=https://registry.yarnpkg.com/

# Also grab @types NPMs from Nexus, SFCI cannot reach any public registry anyway
@types:registry=https://registry.yarnpkg.com/
